<div class="body">
    <p class = "title" >Welcome to your </p><p class = "title"> drink application</p>
<div class= "buttons">
    <div class= "button1">
<button mat-raised-button color="primary"
(click)= predictForm();
>
Predict your wine quality
</button>
</div>
<div class="button2">
<button mat-raised-button color="primary" 
(click)= myWine();
>
See my wines

</button>
</div>
<div class="button3">
<button mat-raised-button color="primary" 
(click)= recipe();
>
Cocktail search
</button>
</div>
</div>
</div>


