<div class="main">
    <h1>Please upload your file</h1>
    <input (change)="onFilePicked($event)" class="custom-file-input"
           placeholder="Upload File" type="file" />
    <button (click)="onFileUpload()" class="myButton">Upload File</button>
    <p *ngIf="good"> Upload Succed!</p>
    <p *ngIf="errorMsg"> Please Select A File</p>
    <p><button (click)="analyze()" class="myButton">Analyze</button></p>
</div>
<div  *ngFor = "let row of thisJson;let i = index">
    <h3>The first object recognized is a: {{row.Name}}</h3>
  <h3>The confiedence is: {{(row.Confidence | number: '1.0-2')}}</h3>
  <button (click)="save(row.Name,row.Confidence)" class="saveButton">Save</button>
  <p *ngIf="message"> Saved Success!</p>
  </div>
  
  <!--div  *ngIf = "analyzeV" >
  <h1>If you would like to save this details, please press the button bellow:</h1>
  <button (click)="save()" class="saveButton">Save</button>
  </div-->